---
import Layout from '../../layouts/Layout.astro';
import LanguageSelector from '../../components/LanguageSelector.astro';
import TerminalPrompt from '../../components/TerminalPrompt.astro';
import TypingAnimation from '../../components/TypingAnimation.astro';
import SocialLinks from '../../components/SocialLinks.astro';
import { getTranslations } from '../../i18n/utils';

const t = getTranslations('en');
---

<Layout 
  title={t.title}
  description={t.description}
  lang="en"
>
  <main class="max-w-4xl w-full p-10 md:p-16 bg-termbg1 border-2 border-termgray rounded-lg shadow-2xl">
    <LanguageSelector label={t.langLabel} currentLang="en" />
    <TerminalPrompt />
    <TypingAnimation initialText={t.typingText} />
    <SocialLinks 
      title={t.linksTitle}
      githubUrl="https://github.com/debling"
      linkedinUrl="https://linkedin.com/in/denílson-ebling-020ab01bb"
    />
  </main>
</Layout>